<div class="footerWrapper">
    <div class="footerScreen">
        <div class="infoBox">
            <form action="test.php" method="post">
    
            <div class="input-group">
                <label>Name</label>
                <input type="text" class="Name" name="name">
    
            </div>
            <div class="input-group">
                <label>Enter mobile no.</label>
                <input type="text" class="PhoneNumber" name="phone">
    
            </div>
            <div class="input-group">
                <label>Email Id</label>
                <input type="email" class="Email" name="email">
    
            </div>
            <div class="input-group">
                <label>Origin</label>
                <input type="text" class="Origin" name="origin">
    
            </div>
            <div class="input-group">
                <label>Destination</label>
                <input type="text" class="Destination" name="destination">
    
            </div>
            <div class="input-group">
                <label>Month of travel</label>
                <input type="text" class="TravelMonth" name="month">
    
            </div>
            <div class="submitButton">
                    <input type="submit" class="sendButton" value="Send Inquiry"> 
            </div>
        </form>
        </div>
        <div class="addressBox">
            <h2>CONTACT US</h2>
            Explorer's Getaway<br>
            C-30A lowers ground floor<br> Kalkaji, New Delhi, Delhi 110019<br> India<br><br>Phone<br>+91 8130830710<br><br>Email<br>explorersgetaway@gmail.com
        </div>
        <div class="menuOptionBox">
            <div class="destination Option" routerLink="/package-list" (click)="sendAllPackages()">DESTINATIONS</div>
            <div class="aboutUs Option" id = "contentScreen" routerLink="/" (click)="scrollToThis($event)">ABOUT US</div>
            <div class="services Option" id = "serviceWrapper" routerLink="/" (click)="scrollToThis($event)">SERVICES</div>
            <div class="blog Option">BLOG</div>
            <div class="testimonials Option">TESTIMONIALS</div>
            <div class="contact Option" id = "footerWrapper" routerLink="/" (click)="scrollToThis($event)">CONTACT US</div>
            <div class="payment Option">PAY NOW</div>
            <div class="videos Option">VIDEOS</div>
        </div>
    </div>
</div>

