<div class="contentScreen">
  <div class="midContainer">
    <div class="midLeft"></div>
    <div class="midRight">
      <div class="midTitle">
        Discover your
        <br> true character
      </div>
      <div class="mid-lineWrap"></div>
      <div class="midContent">
        When we fall down we get up. When we feel tired we keep going. And if someone is struggling we help them. Match yourself
        against a series of unforgettable experiences and unique challenges. It may hurt a little!
      </div>
    </div>
    <div class="midBottom"></div>
  </div>
  <div class="bottomContainer">
      <div class="bottomLeft">
          <div class="bottomTitle">
              Discover your
              <br> true character
          </div>
          <div class="bottom-lineWrap"></div>
          <div class="bottomContent">
              When we fall down we get up. When we feel tired we keep going. And if someone is struggling we help them. Match yourself
              against a series of unforgettable experiences and unique challenges. It may hurt a little!
          </div>
      </div>
      <div class="bottomRight"></div>
      <div class="bottomBottom"></div>
  </div>
</div>
