<div class="homeWrapper">
  <div class="homeScreen" >
    <div class="homeContent">
      <div class="logo" routerLink="/"><div class="logoImg"></div></div>
      <div class="phoneNumber">+91 8130830710</div>
      <div class="email">explorersgetaway@gmail.com</div>
      <div class="menu" (click)="showNavBar()">
          <div class="menuBtn">
              <div class="firstBar"></div>
              <div class="secondBar"></div>
              <div class="thirdBar"></div>
              <div class="fourthBar"></div>
          </div>
      </div>
      <div class="menuScreen">
        <div class="navItem" routerLink="/package-list" (click)="sendAllPackages()">DESTINATIONS</div>
        <div class="navItem">ABOUT US</div>
        <div class="navItem">SERVICES</div>
        <div class="navItem">VIDEOS</div>
        <div class="navItem">BLOG</div>
        <div class="navItem">TESTIMONIALS</div>
        <div class="navItem">CONTACT US</div>
        <div class="navItem">PAY NOW</div>
        <div class="cNum">+91 8130830710</div>
        <div class="cMail">explorersgetaway@gmail.com</div>
      </div>
        <div class="mobileMenu">
          <div class="destination Option" routerLink="/package-list" (click)="sendAllPackages()">DESTINATIONS</div>
          <div class="aboutUs Option">ABOUT US</div>
          <div class="services Option">SERVICES</div>
          <div class="videos Option">VIDEOS</div>
          <div class="blog Option">BLOG</div>
          <div class="testimonials Option">TESTIMONIALS</div>
          <div class="contact Option">CONTACT US</div>
          <div class="payment Option">PAY NOW</div>
        </div>
    </div>
    <!-- <div class="homeText">
        NEVER <br>  Stop <br> EXPLORING 
    </div> -->
  </div>
</div>
